body {
    font-family: 'Courier New', Courier, monospace;
    /* background-color: #282c34; */
    color: #abb2bf;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* background-image: url("https://images.pexels.com/photos/884788/pexels-photo-884788.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
section {
    display: flex;
    justify-content: center;
    width: auto;
    line-height: 1.5;

}
h2 {
    color: #08cc91;
    position: relative;
    margin-left: 50px;
}
h2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    width: 25px;
    height: 1.5px;
    background: #08cc91;
    color: #08cc91;
}
#terminal {
    position: relative;
    background-color: #0E1630;
    border-radius: 5px;
    padding: 20px;
    width: 100vh;
    height: 50vh;
    border-radius: 5px;
    border: 2px solid blue;

    overflow: auto;
    scrollbar-color: #06f006 #09d809;
    scrollbar-width: thin;
    
}

#terminal::-webkit-scrollbar {
    width: 10px;
}

#terminal::-webkit-scrollbar-thumb {
    background-color: #0c7b19;
    border-radius: 6px;

}

#terminal::-webkit-scrollbar-track {
    /* background-color:; */
    
    border-radius: 6px;
}

.circle {
    margin: -16px 16px 16px -16px;
    position: sticky;
    width: 87vw;
    top: -16px;
    background-color: #0E1630;
    
}
@media only screen and  (min-width: 400px){
    .circle{
        background-color: #0E1630;
        width: 90vh;
    }
}


#terminal .custom-span:nth-child(1) {
    background-color: #FC5B57;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 3px;
    border-radius: 50%;

}

#terminal .custom-span:nth-child(2) {
    background-color: #E5BF3C;

    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 -5px;
    border-radius: 50%;
}

#terminal .custom-span:nth-child(3) {
    background-color: #57C038;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 3px;
    border-radius: 50%;
}

.span1 {
    display: block;
    background: none;
    color: white;
    font-weight: bold;

}
#output {
    font-weight: bold;
    overflow: auto;
}

#input-container {
    display: flex;
    -moz-box-direction: row;
}

#input {
    background-color: transparent;
    color: #05a21a;
    font-weight:700;
    border: none;
    width: 30%;
    outline: none;
}

.command {
    color: #04a904;
    /* Change this to the desired color */
}